# eclipse + scala plugin
.classpath
.project
.manager
.scala_dependencies
class/
.settings/
lib/
jetty-env.xml

# sbt
target
lib_managed
src_managed
project/boot/
*/project/boot
setenv*
.history
bin/*.jar

# db
lift_proto*
