# eclipse + scala plugin + idea
.classpath
.project
.manager
.scala_dependencies
class/
bin/
.settings/
.idea/
.cache
.worksheet/
lib/
jetty-env.xml
*.iml

# sbt
target
lib_managed
src_managed
project/boot/
*/project/boot
setenv*
.history
bin/*.jar
.bsp/

# db
lift_proto*

#ensime plugin files
.ensime
.ensime_cache/

tmp/
