body {
  font-family: "Trebuchet MS", Tahoma, Arial;
  font-size: 11pt;
}
h3 { 
  font-size:12pt; 
  margin:0px; 
  width:100%; 
//  background-color:#d8e3f1;
}
i { 
  font-family: "Times New Roman"; 
}
hr {
  height:5px; background-color:#d8e3f1; margin:0; border:0px;
}
